{% extends "base.html" %}
{% block title %}Создание рецепта{% endblock %}
{% block main_title %}Создание рецепта{% endblock %}
{% block css %}
{% load static %}
{% load custom_filters %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
<div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data" action="{{ request.path }}">
        {% csrf_token %}
        <div class="form__group">
            {{ form.name|label_with_classes:"form__label" }}
            <div class="form__field-group">
                {{ form.name|addclass:"form__input" }}
                {% for error in form.name.errors %}
                <span class="form__error">{{ error|escape }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form__group">
            <p class="form__label">{{ form.tags.label }}</p>
            <div class="form__field-group">
                <div class="tags">
                    {% for tag in tags %}
                    <div class="tags__item">
                        <input type="checkbox" name="{{ tag.slug }}" id="id_{{ tag.slug }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }}">
                        <label for="id_{{ tag.slug }}" class="tags__label">{{ tag.name }}</label>
                    </div>
                    {% endfor %}
                </div>
                {% for error in form.tags.errors %}
                <span class="form__error">{{ error|escape }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form__group">
            <label for="nameIngredient" class="form__label">Ингредиенты</label>
            <div class="form__field-group">
                <div class="form__field-group-ingredientes">
                    <div class="form__dropdown">
                        <input type="text" id="nameIngredient" class="form__input">
                        <div class="form__dropdown-items"></div>
                    </div>
                    <input type="number" id="cantidad" class="form__input" min="0">
                    <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                </div>
                <div class="form__field-group-ingredientes-container">

                </div>
                <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            {{ form.time|label_with_classes:"form__label" }}
            <div class="form__field-group form__field-group_time">
                {{ form.time|addclass:"form__input" }}
                <label for="id_time" class="form__label">минут</label>
                {% for error in form.time.errors %}
                <span class="form__error">{{ error|escape }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form__group">
            {{ form.description|label_with_classes:"form__label" }}
            <div class="form__field-group">
                {{ form.description|addclass:"form__textarea" }}
                {% for error in form.description.errors %}
                <span class="form__error">{{ error|escape }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form__group">
            <span class="form__label">{{ form.image.label }}</span>
            <div class="form__field-group">
                {{ form.image }}
                {% for error in form.image.errors %}
                <span class="form__error">{{ error|escape }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form__footer">
            <button class="button button_style_blue">Создать рецепт</button>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}{% include "create/scripts.html" %}{% endblock %}



