{% extends "../base.html" %}
{% block title %}Список покупок{% endblock %}
{% block main_title %}Список покупок{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block content %}
<div class="card-list card-list_column">
    <ul class="shopping-list">
        {% for shoplist in shoplists %}
        {% include 'shoplist/recipe.html' with recipe=shoplist.recipe shoplist=shoplist %}
        {% endfor %}
    </ul>
    <a href="{% url 'shoplistpdf' %}"><button class="button button_style_blue">Скачать список</button></a>
</div>
{% endblock %}
{% block scripts %}{% include "shoplist/scripts.html" %}{% endblock %}