<div class="card-user" data-author="{{ author.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title">{{ author.get_full_name }}</h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
        {% for recipe in author.recipes.all|slice:":3" %}
            {% include 'follow/recipe.html' with recipe=recipe %}
        {% endfor %}
        {% if author.recipes.count > 3 %}
            <li class="card-user__item">
                <a href="{% url 'profile' author.username %}" class="card-user__link link">Еще 7 рецептов...</a>
            </li>
        {% endif %}
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
    </div>
</div>