<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>{% block title %}Рецепты{% endblock %}</title>
    {% if single %}
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
    {% endif %} 
</head>
<body class="body">
{% include 'header.html' %}
<main class="main container">
    {% block content %}
    {% endblock %}
</main>
{% include 'footer.html' %}

{% if single %}
    {% include 'scripts_detail.html' %}
{% else %}
    {% include 'scripts_index.html' %}
{% endif %} 

</body>
</html>
